<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Autograder App (Designed by Weiheng Su)</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
   
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted" style="text-align: center;">Autograder App</h3>
            <footer class="text-muted" style="text-align: right;">Made by Weiheng Su(ws2ta)</footer>
        </div>
            <form  class="form-signup" action="/gradeUpload" method="POST" enctype="multipart/form-data">
                 <!-- input type="file" required class="form-control"  value="{{ request.form.playerS_name }}"> <br-->
                 <input type="file" required class="form-control" class="btn btn-primary" name="file"> <br>
                 <input class="btn btn-lg btn-primary" type="submit" value="Upload Your File" id="btnSignin">
		       </form><br><br><br>
        <div>
       <br><br><br>
      <form action="/viewResult" method="POST">
        <input type="submit" value="View result" class="btn btn-lg btn-success">
       </form>
       <br>
     
       {% if data %}
           <h4>Result</h4><br>

            {{data[0]}}<br><br><br>
            {{data[1]}}

       {% endif %}

    
      
          
        </div>
  
	</div>  
  </body>
</html>
